* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(0, 55, 255);
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color:#fdfdfd;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #a43838;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #a43838;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  
}
li{
 font-style: italic;
 color: rgb(0, 0, 0)
}
#info {
  color: green;
}

.purple-text {
 color: purple;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

#biggerfont {
  font-size: larger;
}

.grid-conatiner {
  display: grid;
  border-style: solid;
  grid-template-columns: repeat(3,1fr); 
  gap: 10px;
}

.grid-item {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

button {
  background-color: lightblue;   /* Light blue background */
  border: none;                  /* No border */
  padding: 10px 20px;            /* Button size */
  border-radius: 10px;           /* Rounded edges */
  font-size: 16px;               /* Text size */
  margin: 20px;
  cursor: pointer;               /* Pointer cursor when hovered */
  transition: transform 0.2s;    /* Smooth hover animation */
}
 
button:hover {
  transform: scale(1.1);         /* Grows slightly on hover */
}
